*\.suo
Gears\.VC\.db
UpgradeLog\.htm
Build/
Bin/
GearsPy/__pycache__/
GearsPy/*/*/__pycache__/
GearsPy/*/*/*/__pycache__/
GearsPy/*/*/*/*/__pycache__/
ipch/
GearsPy/Project/Logs

Gears/obj
Gears/bin

GearsTest/*/*.obj
GearsTest/*/*.pdb
GearsTest/*/*.ilk
GearsTest/*/*.log
GearsTest/*/vc120.idb
GearsTest/*/GearsTest.tlog
GearsTest/GearsTest.vcxproj.user

*.pyproj

Gears\.VC\.VC\.opendb
