*\.suo
Gears\.VC\.db
UpgradeLog\.htm
Build/
Bin/
GearsPy/__pycache__/
GearsPy/*/*/__pycache__/
GearsPy/*/*/*/__pycache__/
GearsPy/*/*/*/*/__pycache__/
ipch/
GearsPy/Project/Logs

Gears/obj
Gears/bin
Gears/\.vscode/

*.vcxproj

*.pyproj

Gears\.VC\.VC\.opendb
