*\.suo
Gears\.VC\.db
UpgradeLog\.htm
Build/
Bin/
GearsPy/__pycache__/
GearsPy/*/*/__pycache__/
GearsPy/*/*/*/__pycache__/
GearsPy/*/*/*/*/__pycache__/
ipch/
GearsPy/Project/Logs

.vs/*
Thirdparty/googletest/msvc/2010/.vs/*

Gears/obj
Gears/bin
Gears/Gears.tlog/

GearsTest/*.vcxproj
GearsTest/.cache/*
GearsTest/Build/
GearsTest/Bin/
GearsTest/*/*.pdb
GearsTest/*/*.ilk
GearsTest/*/*.log
GearsTest/*/vc120.idb
GearsTest/*/GearsTest.tlog
GearsTest/GearsTest.vcxproj.user

Thirdparty/googletest/msvc/2010/gtest/*/temp/*
Thirdparty/googletest/msvc/2010/gtest/*/*.pdb
Thirdparty/googletest/msvc/2010/gtest/*/*.ilk

*.pyproj

Gears\.VC\.VC\.opendb
